<p id = "back-top">
<a href = '#home'>
<span></span>
</a>
</p>
<div id = "home">
	<div class = "landing-background">
	<%=image_tag('pills background.png', :id => "landing-background")%>
	</div>
		<div class = "logo-wrapper">
			<%= image_tag('pillist.logo.png', :class => "logo") %>
		</div>
		<div class = "title-wrapper">
			<div class = "title"><b>Medication organization <i>made simple</i></b> </div>
		</div>

		<%= form_for @user, url: {controller: "home", action: "create"}, html: {id: "email-input"} do |f| %>
<!-- 			<center><strong>Sign up</strong> to receive updates:<br/></center>
 -->			<div class = "email-icon" > <%=image_tag "email.png" %></div>
			<%= f.text_field :email, :required => true, :placeholder => "email address" %>
			<%= f.submit "Go", :id => 'user_submit' %>
			<% if flash[:notice] %>
				<center><span class = "success"><%= flash[:notice] %></span></center>
			<%end%>
			<% if flash[:error] %>
				<span class = "error"><small><%= flash[:error] %></small></span>
			<%end%>
		    <% if @user.errors.any? %>	 
			    <% @user.errors.full_messages.each do |msg| %>
			      <span id = "error"><small><%= msg %></small></span>
			    <% end %>
			<% end %>
			
		<%end%>
	<a href = "#about" class = "scroll-down scroll">
		<div class = "overlay">
			Learn More<br/>
		<%= image_tag('down.png', :class => "down-icon") %>
		</div>
	</a>
</div>
<div id = "about">
	<div class = "about-blurb" id = "about-top">
		<h2><i>Reimagine</i> Medication Organization</h2>
			<p class = "description">
			Pillist helps patients better manage their medications by automatically generating a simple, dynamic, and organized medication list directly from pharmacy databases.
			</p>
		
		<div class = "video-wrapper">
		<center>
<!-- <iframe src="//player.vimeo.com/video/91351390" width="500" height="882" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  -->
<iframe width="420" height="315" src="//www.youtube.com/embed/SyExZn_g2Ng" frameborder="0" allowfullscreen></iframe>
	</center>
		</div>

	</div>
	<div class = "about-options">
		<div class = "option-list">
			
			
			<a href = "#patient" class = "about-option active" id = "patient-tab">
			
				For Patients<br/>
				<%=image_tag("patient-man.png", :class=> "active",:id=>"patient-tab") %>
			</a>
			<a href = "#pharmacy" class = "about-option" id = "pharmacy-tab">
				For Pharmacies<br/>
				
					<%=image_tag("pharmacy.png", :id=>"pharmacy-tab") %>
				
			</a>
			<a href = "#physician" class = "about-option" id = "physician-tab">
				
					For Physicians<br/>
					<%=image_tag("doctor.png", :id=>"physician-tab") %>
				
			</a>
			
			
		</div>
	</div>
</div>
<div class = "option-wrapper">
	<div id = "patient" class = "show">
		<ul class = "about-list">		
			<li class = "about-list-1">
				<h1>A better way to manage medications</h1>
				<ul>
					<li>Pillist will automatically provide an organized and dynamic medication list</li>
					<li>Patients will be able to set reminders, research medication information, and order prescription refills making it easier to take medications</li>
				</ul> 
				</p>
			</li>
<!-- 			<li class = "about-list-2">
				<h1>Why is this a problem for patients?</h1>
				<ol>
					<li> It’s hard to remember to take medications consistently at specific times </li>
					<li> Medications may change following a clinic visit or hospitalization</li>
					<li>It can be difficult to remember how to take certain medications (e.g. without food)</li>
					<li> There can be confusion with brand-name and generic medications</li>
					<li> Medications are becoming increasingly specialized as multiple formulations (e.g. extended-
					release) and multiple strengths of the same drug become available </li>
					<li> Keeping track of available refills and when to refill can be challenging</li>
				</ol>
			</li> -->
		</ul>
	</div>
	<div id = "pharmacy">
		<ul class = "about-list">	
			<li class = "about-list-3">
				<h1>Better customer service, convenience, and loyalty</h1>
				<ul>
				<li>Pillist will offer pharmacies an innovative and differentiable clinical tool for their customers</li>
				<li>Pharmacies will be able to increase prescription volume and improve customer service with
convenient refills and better customer communication</li>
				</ul>
			</li>
			
<!-- 			<li class = "about-list-4">
				<h1>Physicans need:</h1>
				<p>to perform efficient Medication Reconciliations and deliver the

	best possible care while caregivers need this information to help the patient take his or her medications.</p>
			</li> -->
		</ul>
	</div>
	<div id = "physician">
		<ul class = "about-list">	
			<li class = "about-list-5">
			<h1>Accurate and updated medication lists</h1>
				<ul>
				<li>Pillist will allow physicians and other providers to have access to their patient’s organized and updated medication list to perform an efficient and accurate medication reconciliation</li>
				<li>Physicians will be able to review the patient’s refill data to differentiate between medication efficacy and medication adherence to provide better care</li>
				</ul>
			</li>
	<!-- 		<div id = "email-input">
				
					<input autocomplete = "off" id = "email" placeholder = "email address" type = "text">
				</div> -->
		</ul>
	</div>
</div>


<div id = "footer">
	<a href = "#home"><%= image_tag('pilllist.copyright.png', :class => "sm-logo") %></a> <span id = "contact">
	contact us at <a href = "mailto:info@pillist.com">info@pillist.com</a>
</span>
</div>

<%= javascript_include_tag 'application' %>
<!--
<%= javascript_tag do %>
var slideshow = new Slideshow("about-list", "about-list-start", 200);
console.log(slideshow.count);
$(window).bind("scroll", function() {
	console.log($(this).scrollTop() + "is less than "+slideshow.threshold);
    if ($(this).scrollTop() > slideshow.threshold) {
    	var nextSlide = $("#"+slides+"-"+slideshow.count);
    	console.log("slide"+slideshow.count);
    	nextSlide.fadeIn();
    	nextSlide.slideUp();
    	slideshow.count+=1;
    	slideshow.threshold = slideshow.getTop(nextSlide) + nextSlide.height - slideshow.threshold;
    }
});
<%end%>
-->
