<div id = "home">
	<div class = "landing-background">
	<%=image_tag('pills background.png', :id => "landing-background")%>
	</div>
		<div class = "logo-wrapper">
			<%= image_tag('pillist.logo.png', :class => "logo") %>
		</div>
		<div class = "title-wrapper">
			<div class = "title"><i>Reimagine</i><b> medication organization</b> </div>
		</div>

		<%= form_for @user, url: {controller: "home", action: "create"}, html: {id: "email-input"} do |f| %>
<!-- 			<center><strong>Sign up</strong> to receive updates:<br/></center>
 -->			<div class = "email-icon" > <%=image_tag "email.png" %></div>
			<%= f.text_field :email, :required => true, :placeholder => "email address" %>
			<%= f.submit "Go", :id => 'user_submit' %>
			<% if flash[:notice] %>
				<center><p id="success"><%= flash[:notice] %></p></center>
			<%end%>
			<% if flash[:error] %>
				<span id="error"><small><%= flash[:error] %></small></span>
			<%end%>
		    <% if @user.errors.any? %>	 
			    <% @user.errors.full_messages.each do |msg| %>
			      <span id = "error"><small><%= msg %></small></span>
			    <% end %>
			<% end %>
			
		<%end%>
	<a href = "#about" class = "scroll-down scroll">
		<div class = "overlay">
			Learn More<br/>
		<%= image_tag('down.png', :class => "down-icon") %>
		</div>
	</a>
</div>
<div id = "about">
	<div class = "about-blurb" id = "about-top">
		<h1>Medication organization <i>made simple</i></h1>
			<p class = "description">
			We're developing a mobile and web application to help patients better manage their medications by automatically generating a simplified and organized medication list through partnership with the patient’s own pharmacy.
			</p>
		
		<div class = "video-wrapper">
		<center>
			<iframe width="560" height="315" src="http://www.youtube.com/embed/fSh6Q0F4d9Q" frameborder="0" allowfullscreen></iframe>
		</center>
		</div>

	</div>
	<div class = "about-options">
		<div class = "option-list">
			
			
			<a href = "#patient" class = "about-option active" id = "patient-tab">
			
				For Patients<br/>
				<%=image_tag("patient.png", :class=> "active",:id=>"patient-tab") %>
			</a>
			
			<a href = "#physician" class = "about-option" id = "physician-tab">
				
					For Physicians<br/>
					<%=image_tag("doctor.png", :id=>"physician-tab") %>
				
			</a>
			<a href = "#pharmacy" class = "about-option" id = "pharmacy-tab">
				For Pharmacies<br/>
				
					<%=image_tag("pharmacy.png", :id=>"pharmacy-tab") %>
				
			</a>
			
		</div>
	</div>
</div>
<div class = "option-wrapper">
	<div id = "patient" class = "show">
		<ul class = "about-list">		
			<li class = "about-list-1">
				<h1>Patients need:</h1>
				<strong>a better way of keeping track of their medications.</strong>
				<p>Five common ways patients manage their medications:
				<ul>
					<li>They don't</li>
					<li>Hand-written lists on paper</li>
					<li>Pills boxes</li>
					<li>medicine bottles on hand</li>
					<li>Excel spreadsheets with manually entered data</li>
				</ul> 
				</p>
			</li>
<!-- 			<li class = "about-list-2">
				<h1>Why is this a problem for patients?</h1>
				<ol>
					<li> It’s hard to remember to take medications consistently at specific times </li>
					<li> Medications may change following a clinic visit or hospitalization</li>
					<li>It can be difficult to remember how to take certain medications (e.g. without food)</li>
					<li> There can be confusion with brand-name and generic medications</li>
					<li> Medications are becoming increasingly specialized as multiple formulations (e.g. extended-
					release) and multiple strengths of the same drug become available </li>
					<li> Keeping track of available refills and when to refill can be challenging</li>
				</ol>
			</li> -->
		</ul>
	</div>
	<div id = "physician">
		<ul class = "about-list">	
			<li class = "about-list-3">
				<h1>The facts:</h1>
				<p> An estimated 

	1/3 – 1/2 of U.S. patients do not adhere to prescribed medication regimens. Studies have consistently 

	shown that 20% to 30% of prescriptions are never filled by patients. The lack of adherence has dramatic 

	effects on health. In the U.S., it is estimated to cause approximately 125,000 deaths, at least 10% of 

	hospitalizations, and a substantial increase in morbidity and mortality. 
				</p>
			</li>
			
<!-- 			<li class = "about-list-4">
				<h1>Physicans need:</h1>
				<p>to perform efficient Medication Reconciliations and deliver the

	best possible care while caregivers need this information to help the patient take his or her medications.</p>
			</li> -->
		</ul>
	</div>
	<div id = "pharmacy">
		<ul class = "about-list">	
			<li class = "about-list-5">
			<h1>Pharmacies need:</h1>
			<p>
	 a better method of communicating with patients and incentivizing them to refill 

	prescriptions in order to keep the patients healthy and happy.</p>
			</li>

			<li class = "about-list-6">
			<h1>Our aim:</h1>
			<p> to create a mobile/web application that automatically generates a simplified and organized

	medication list that can be shared with the patient’s providers and caregivers, saves time with electronic 

	refill capability, and provides a better relationship with a patient’s pharmacy and pharmacist through a 

	rewards system.</p>
			</li>
	<!-- 		<div id = "email-input">
				
					<input autocomplete = "off" id = "email" placeholder = "email address" type = "text">
				</div> -->
		</ul>
	</div>
</div>


<div id = "footer">
	<a href = "#home"><%= image_tag('pilllist.copyright.png', :class => "sm-logo") %></a> <span id = "contact">
	<strong>contact us</strong> at <a href = "mailto:info@pillist.com">info@pillist.com</a>
</span>
</div>

<%= javascript_include_tag 'application' %>
<!--
<%= javascript_tag do %>
var slideshow = new Slideshow("about-list", "about-list-start", 200);
console.log(slideshow.count);
$(window).bind("scroll", function() {
	console.log($(this).scrollTop() + "is less than "+slideshow.threshold);
    if ($(this).scrollTop() > slideshow.threshold) {
    	var nextSlide = $("#"+slides+"-"+slideshow.count);
    	console.log("slide"+slideshow.count);
    	nextSlide.fadeIn();
    	nextSlide.slideUp();
    	slideshow.count+=1;
    	slideshow.threshold = slideshow.getTop(nextSlide) + nextSlide.height - slideshow.threshold;
    }
});
<%end%>
-->
