<!DOCTYPE html>
<html>
<head>
  <title>Pillist</title>
  <meta name="viewport" content="width=device-width" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", 'http://fonts.googleapis.com/css?family=Lora:400,700italic', 'http://fonts.googleapis.com/css?family=PT+Sans:400,700', media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>

</html>
